# Exercise 2.7 | Refining and Presenting a Dashboard

##### 1. Import Libraries
##### 2. Upload dataset
##### 3. Create sample of data
##### 4. Create weekly dataset to use

##### 1. Import Libraries

In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from datetime import datetime as dt
from streamlit_keplergl import keplergl_static

##### 2. Upload dataset

In [2]:
df = pd.read_csv('newyork_data_sample.csv', index_col = 0)

C:\Users\repla\AppData\Local\Temp\ipykernel_26208\1723540456.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('newyork_data_sample.csv', index_col = 0)

##### 3. Create sample of data

In [3]:
# Set the seed to 32
np.random.seed(32)

# Create a random sample of the main "df"
sample_df = df.sample(frac=0.1, random_state=32)

# Check the size of the sample
print(sample_df.memory_usage().sum() / 1024 ** 2)

12.30340576171875

In [4]:
sample_df.head()

,date,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,avgTemp,bike_rides_daily,_merge,month,season,value
724906,2022-03-07,B2C5CA69CD9D070C,electric_bike,2022-03-07 19:22:45,2022-03-07 19:33:44,1 Ave & E 6 St,5626.15,E 44 St & 2 Ave,6422.09,40.726331,-73.986169,40.751184,-73.971387,member,18.2,1740,both,3,winter,1
673888,2022-06-16,18E81D7488D72F1A,classic_bike,2022-06-16 18:46:27,2022-06-16 18:53:45,St Marks Pl & 1 Ave,5626.13,Mercer St & Bleecker St,5679.05,40.727791,-73.985649,40.727064,-73.996621,member,20.3,2601,both,6,summer,1
164452,2022-09-25,AF38D881323A4216,classic_bike,2022-09-25 15:27:16,2022-09-25 15:30:04,Broadway & W 61 St,7014.12,Broadway & W 61 St,7014.12,40.770030,-73.981968,40.770030,-73.981968,casual,19.2,2186,both,9,summer,1
417222,2022-05-12,EF580FFE11488B54,electric_bike,2022-05-12 15:23:18,2022-05-12 15:35:14,W 95 St & Broadway,7541.01,W 64 St & Thelonious Monk Circle,7123.04,40.793770,-73.971888,40.775160,-73.989187,member,17.1,2855,both,5,spring,1
543384,2022-11-05,60A00C040CFE7632,classic_bike,2022-11-05 14:40:46,2022-11-05 15:07:53,W 84 St & Broadway,7409.08,E 53 St & Madison Ave,6659.03,40.786795,-73.977112,40.759711,-73.974023,member,19.4,3087,both,11,fall,1

In [5]:
sample_df.columns

Index(['date', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'avgTemp', 'bike_rides_daily', '_merge', 'month',
       'season', 'value'],
      dtype='object')

In [6]:
sample_df.shape

(76792, 20)

In [7]:
sample_df = sample_df.drop(columns=['ride_id', 'started_at', 'ended_at', 'rideable_type', 'start_station_id', 'end_station_id', 'member_casual', '_merge'])

In [8]:
sample_df.head()

,date,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,avgTemp,bike_rides_daily,month,season,value
724906,2022-03-07,1 Ave & E 6 St,E 44 St & 2 Ave,40.726331,-73.986169,40.751184,-73.971387,18.2,1740,3,winter,1
673888,2022-06-16,St Marks Pl & 1 Ave,Mercer St & Bleecker St,40.727791,-73.985649,40.727064,-73.996621,20.3,2601,6,summer,1
164452,2022-09-25,Broadway & W 61 St,Broadway & W 61 St,40.770030,-73.981968,40.770030,-73.981968,19.2,2186,9,summer,1
417222,2022-05-12,W 95 St & Broadway,W 64 St & Thelonious Monk Circle,40.793770,-73.971888,40.775160,-73.989187,17.1,2855,5,spring,1
543384,2022-11-05,W 84 St & Broadway,E 53 St & Madison Ave,40.786795,-73.977112,40.759711,-73.974023,19.4,3087,11,fall,1

##### 4. Create weekly dataset to use

In [9]:
# Convert 'date' column to datetime format if it's not already in datetime format
df['date'] = pd.to_datetime(df['date'])

In [10]:
# Set 'date' column as the index if it's not already
df.set_index('date', inplace=True)

In [11]:
# Aggregate data on a weekly basis
df_weekly = df.resample('W').mean()

C:\Users\repla\AppData\Local\Temp\ipykernel_26208\1043316687.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_weekly = df.resample('W').mean()

In [12]:
# Reset index to make 'date' a column again
df_weekly.reset_index(inplace=True)

In [13]:
# Use df_weekly for plotting the aggregated data

df_weekly.head()

,date,start_lat,start_lng,end_lat,end_lng,avgTemp,bike_rides_daily,month,value
0,2022-01-02,40.739072,-73.976703,40.738178,-73.977254,11.459110,957.684948,1.0,1.0
1,2022-01-09,40.740131,-73.977277,40.740077,-73.977529,1.204907,882.558565,1.0,1.0
2,2022-01-16,40.739990,-73.977040,40.739621,-73.977346,-0.338646,992.209215,1.0,1.0
3,2022-01-23,40.740138,-73.977337,40.740020,-73.977372,0.398334,1003.829268,1.0,1.0
4,2022-01-30,40.739708,-73.978128,40.739181,-73.978784,-0.837498,1054.327889,1.0,1.0

In [14]:
df_weekly.shape

(53, 9)

In [15]:
# Rename the column 'bike_rides_daily' to 'bike_rides_weekly'
df_weekly.rename(columns={'bike_rides_daily': 'bike_rides_weekly'}, inplace=True)

In [16]:
df_weekly.columns

Index(['date', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'avgTemp',
       'bike_rides_weekly', 'month', 'value'],
      dtype='object')

In [17]:
df_weekly.to_csv('newyork_data_weekly.csv')